@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --header-height: 48px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0;
    font-family: 'Merriweather Sans', sans-serif;
}

#header {
    position: fixed;
    top: 0;

    display: flex;

    width: 100%;
    height: var(--header-height);

    padding: 8px;

    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: saturate(100%) blur(20px);
}

#header h1 {
    color: white;
    margin: 0 0 0 32px;
    line-height: calc(var(--header-height) - 16px);
}

#header-img {
    height: 100%;
    filter: invert(100%);
}

#nav-bar {
    margin: 0 0 0 auto;
    align-self: center;
}

#slogan {
    width: fit-content;

    margin: 0 auto;
    padding: 64px 0;
}

#slogan * {
    margin: 0;
}

#slogan .slogan-top {
    margin-bottom: -70px;

    font-size: 10em;
}

#slogan .slogan-aside {
    display: inline;

    margin-bottom: -10px;
    
    text-align: center;
    
    font-size: 5em;
    
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

#slogan .slogan-bottom {
    display: inline-block;

    width: min-content;

    font-size: 12em
}
